/* General Styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Logo Styles */
.logo {
    width: 200px;
    height: auto;
    margin-bottom: 50px;
    animation: fadeInDown 1s ease-in-out;
}

.pictures { width: 200px;
    height: auto;
    margin-bottom: 50px;
    animation: fadeInDown 1s ease-in-out;

}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Main Button Styles */
.main-button {
    padding: 15px 30px;
    font-size: 18px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    animation: pulse 2s infinite;
    box-shadow: 0 4px 6px rgba(0, 123, 255, 0.3);
    transition: background-color 0.3s;
}

.main-button:hover {
    background-color: #0056b3;
}

/* Option Button Styles */
.option-button {
    padding: 15px 30px;
    margin: 10px;
    font-size: 18px;
    color: #007BFF;
    background-color: #fff;
    border: 2px solid #007BFF;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s;
}

.option-button:hover {
    background-color: #007BFF;
    color: #fff;
}

/* Animations */
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.5);
    }
    70% {
        box-shadow: 0 0 0 20px rgba(0, 123, 255, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(0, 123, 255, 0);
    }
}
/* Adjust canvas and video elements */
#canvas, #video {
    position: absolute;
    top: 0;
    left: 0;
}

/* Container adjustments */
.container {
    position: relative;
    width: 640px;
    margin: 0 auto;
}
